@import "tailwindcss";

* {
    font-family: "Inter", system-ui, -apple-system, BlinkMacSystemFont,
        sans-serif;
}
button {
    @apply cursor-pointer;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
